body {
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background-color: #b3e6ff;
}

.title {
    text-align: center;
}

.logo {
    text-align: center;
}

.home-mtn {
    margin-top: -600px;
}

.home-text {
    padding-top: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.home-button {
    text-align: center;
    margin-top: 15px;
}

.map-container iframe {
    width: 100%;
    height: 100%;
}

.map-container {
    margin-top: 50px;
    bottom: 50px;
    width: 80vw;
    height: 80vh;
    margin-bottom: 20px;
}

.map {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
}

.map-button {
    text-align: center;
}
